<app-modal *ngIf="isShowModal$ | async"></app-modal>

<h1 class="large-title main-title">{{ 'Quiz' | titlecase }}</h1>

<app-menu-btn></app-menu-btn>

<div class="wrapper">
    <div class="input-block">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="input-block__item">
                <h2 class="medium-title">Quiz name:</h2>
                <input 
                    type="text"
                    class="entry-field"
                    placeholder="Quiz name"
                    formControlName="quizName"
                    appFocus
                >
            </div>

            <div class="input-block__item">
                <h2 class="medium-title">Complexity quiz:</h2>
                <input 
                    type="text"
                    class="entry-field"
                    placeholder="Complexity quiz"
                    formControlName="complexityQuiz"
                >
            </div>

            <button 
                type="submit" 
                mat-flat-button 
                color="primary"
            >Save</button>
        </form>
    </div>
    <div class="questions-block">
        <h2 class="medium-title">Questions:</h2>

        <div *ngIf="questions">
            <app-question
                *ngFor="let question of pageQuestions; index as i"  
                [question]="question"
                [number]="i+1"
            ></app-question>
        </div>

        <mat-paginator
            (page)="onPageEvent($event)"
            [length]="questions?.length"
            [pageSize]="pageSize"
            [pageSizeOptions]="[3, 5, 10, 15]"
            aria-label="Select page">
        </mat-paginator>

        <button 
            mat-flat-button 
            color="primary"
            (click)="addQuestion()"
        >Add question</button>
    </div>
</div>
