<app-modal *ngIf="isShowModal$ | async"></app-modal>

<h1 class="large-title main-title">{{ 'Quiz' | titlecase }}</h1>

<div class="wrapper">
    <div class="input-block">
        <form [formGroup]="form" (ngSubmit)="submit()" class="form">
            <h2 class="medium-title">Data:</h2>
            <mat-form-field>
                <mat-label>Quiz name</mat-label>
                <input 
                    type="text"
                    placeholder="Quiz name"
                    formControlName="quizName"
                    matInput
                >
            </mat-form-field>

            <mat-form-field>
                <mat-label>Complexity quiz</mat-label>
                <input 
                    type="text"
                    placeholder="Complexity quiz"
                    formControlName="complexityQuiz"
                    matInput
                >
            </mat-form-field>

            <button 
                type="submit" 
                mat-flat-button 
                color="primary"
            >Save</button>
        </form>
    </div>
    <div class="questions-block">
        <h2 class="medium-title">Questions:</h2>

        <div *ngIf="questions">
            <app-question
                *ngFor="let question of paginatorData.showEntities; index as i"  
                [question]="question"
            ></app-question>
        </div>

        <mat-paginator
            *ngIf="questions?.length"
            (page)="paginatorData.onPageEvent('quizzesPage', questions, $event)"
            [length]="paginatorData.length"
            [pageSize]="paginatorData.pageSize"
            [pageSizeOptions]="paginatorData.options"
            aria-label="Select page">
        </mat-paginator>

        <button 
            mat-flat-button 
            color="primary"
            (click)="addQuestion()"
        >Add question</button>
    </div>
</div>
