<div *ngIf="isGameOn$ | async">
    <div class="large-title center">Question: {{counter}}</div>

    <div class="medium-title center">{{currentQuestion?.text}}</div>

    <div class="small-title">Choose an answer:</div>

    <div *ngIf="currentQuestion?.answers">
        <div 
            class="answer-item"
            [class.selected]="answer === selectedAnswer"
            *ngFor="let answer of currentQuestion?.answers"  
            (click)="selectAnswer(answer)"
        >{{answer.text}}</div>
    </div>

    <div class="control-buttons">
        <button mat-flat-button color="primary" [disabled]="previousDisabled" (click)="previousQuestion()">Previous</button>
        <button mat-flat-button color="primary" [disabled]="answerDisabled" (click)="answer()">Answer</button>
        <button mat-flat-button color="primary" [disabled]="nextDisabled" (click)="nextQuestion()">Next</button>
    </div>
    
    <button mat-flat-button color="primary" (click)="completeQuiz()">Complete</button>
</div>

<div *ngIf="isCompleteGame$ | async">
    <app-menu-btn></app-menu-btn>
    <div class="large-title center">Quiz result</div>
    <app-game-statistic></app-game-statistic>
</div>