<div class="question-item" (click)="setCurrentQuestion()">
    <div class="content-wrapper">
        <div class="main-content-wrapper">
            <h2 class="question-text">{{ questionText }}</h2>

            <div class="buttons" *appRoleAccess="['ADMIN', 'OWNER']">
                <button class="btn-item" mat-mini-fab color="basic" (click)="updateQuestion()">
                    <mat-icon>edit</mat-icon>
                </button>
    
                <button class="btn-item" mat-mini-fab color="basic" (click)="deleteQuestion()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    
        <div *ngIf="answers && answersDetails">
            <app-answer
                *ngFor="let answer of answers; index as i"  
                [answer]="answer"
                [orderNumber]="i+1"
            ></app-answer>
        </div>

        <div class="toggle-wrapper">
            <div 
                *ngIf="isShowMoreInfoToggle"
                class="toggle"
                (click)="toggleShowMore()"
            >{{ infoDetails ? 'Collapse' : 'Show more' }}</div>

            <div 
                *ngIf="isShowAnswersToggle"
                class="toggle"
                (click)="toggleAnswers()"
            >{{ answersDetails ? 'Hide' : 'Show' }} answers</div>
        </div>
    </div>

    <button 
        mat-flat-button 
        color="primary"
        class="btn-mini"
        (click)="addAnswer()"
    >Add answer</button>
</div>
