.question-item {
    margin-bottom: 10px;

    &__header {
        margin-bottom: 5px;
    }

    &__img {
        margin-bottom: 15px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }
}