<mat-card class="question-item" (click)="setCurrentQuestion()">
    <mat-card-header class="question-item__header">
      <mat-card-title>Question</mat-card-title>
      <mat-card-subtitle>{{ question.text| cutQuestion: question.id }}</mat-card-subtitle>
    </mat-card-header>
    <img class="question-item__img" *ngIf="showDetails" mat-card-image [src]="imgService.getImg(question.img)">
    <mat-card-content>
      <div *ngIf="answers && showDetails">
        <app-answer
            *ngFor="let answer of answers; index as i"  
            [answer]="answer"
            [orderNumber]="i+1"
        ></app-answer>
      </div>

    </mat-card-content>
    <mat-card-actions class="question-item__buttons">
        <div>
            <button mat-button (click)="toggleShowMore()">Show details</button>
            <button mat-button (click)="addAnswer()">Add answer</button>
        </div>
        <div *appRoleAccess="['ADMIN', 'OWNER']">
            <button mat-button (click)="updateQuestion()">Edit</button>
            <button mat-button (click)="deleteQuestion()">Delete</button>
        </div>
    </mat-card-actions>
</mat-card>
