<div>
    <div class="exit-btn-wrapper">
        <button 
            mat-flat-button 
            color="primary" 
            (click)="completeQuiz()"
        >
            Complete
            <mat-icon svgIcon="exit"></mat-icon>
        </button>
    </div>

    <div class="large-title center">Question: {{counter}}</div>
    <div class="medium-title center">{{currentQuestion?.text}}</div>
    <div class="img-wrapper">
        <img class="img" [src]="imgService.getImg(currentQuestion?.img)" alt="">
    </div>

    <div class="small-title">Choose an answer:</div>
    <div *ngIf="currentQuestion?.answers">
        <div 
            class="answer-item"
            [class.selected]="answer === selectedAnswer"
            *ngFor="let answer of currentQuestion?.answers"  
            (click)="selectAnswer(answer)"
        >{{answer.text}}</div>
    </div>

    <div class="main-control-buttons">
        <button mat-flat-button color="primary" [disabled]="buttons.previousDisabled" (click)="previousQuestion()">Previous</button>
        <button mat-flat-button color="primary" [disabled]="buttons.answerDisabled" (click)="answer()">Answer</button>
        <button mat-flat-button color="primary" [disabled]="buttons.nextDisabled" (click)="nextQuestion()">Next</button>
    </div>
</div>
