<nav class="auth-nav">
    <span class="link-box">
        <span (click)="authService.swapLogIn()" class="nav-item">Log In</span>
        <span class="nav-item">/</span>
        <span (click)="authService.swapSignIn()" class="nav-item">Sign In</span>
    </span>
</nav>

<div class="wrapper">

    <form [formGroup]="authForm" (ngSubmit)="submit()" class="form-box">
        <div class="auth-title" >{{ authService.isLogin ? 'Login' : 'Registration' }}</div>
        <input 
            formControlName="email"
            type="text"
            class="border w-full py-2 px-4 mb-2"
            placeholder="Email"
        >
        <input 
            formControlName="password"
            type="text"
            class="border w-full py-2 px-4 mb-2"
            placeholder="Password"
        >

        <button type="submit" class="bubbly-button" (click)="animateButton($event)">Submit</button>

        <p 
            class="footer-text"
            (click)="authService.toggleIsLogin()"
        >{{ authService.isLogin ? 'You don\'t have an account?' : 'Already have an account?' }}</p>
    </form>
</div>