<div class="common-item" (click)="selectQuiz()">
    <div class="main-content-wrapper">
        <h2 class="quiz-text">{{ quiz?.name }}</h2>
        <div class="buttons" *appRoleAccess="['ADMIN', 'OWNER']">
            <button class="btn-item" mat-mini-fab color="basic" [routerLink]="['/quizzes/edit', quiz?.id]">
                <mat-icon>edit</mat-icon>
            </button>

            <button class="btn-item" mat-mini-fab color="basic" (click)="deleteQuiz()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>