<div class="admin-menu" *ngIf="isShow$ | async">
    <app-admin-menu-item text="Profile"></app-admin-menu-item>
    <app-admin-menu-item text="All quizzes" routerLink=""></app-admin-menu-item>
    <app-admin-menu-item text="Statistics"></app-admin-menu-item>
    <app-admin-menu-item text="Rating"></app-admin-menu-item>
    <app-admin-menu-item text="Create quiz" routerLink="/quizzes/create"></app-admin-menu-item>
    <app-admin-menu-item text="Settings"></app-admin-menu-item>
    <app-admin-menu-item text="Exit" (click)="logout()"></app-admin-menu-item>
</div>
