<form [formGroup]="form" (ngSubmit)="submit()">
    <h1 class="medium-title center">Edit question</h1>
    
    <input 
        type="text"
        class="entry-field"
        formControlName="questionText"
        appFocus
    >

    <p
        class="text-red-600 font-medium mb-2"
        *ngIf="questionText.errors?.minlength && questionText.touched"
    >Please fill title field width min length. Now {{ questionText.value.length }}</p>

    <button type="submit" class="default-admin-btn">Update</button>
</form>
