.main-text {
    text-align: center;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn-ok{ 
    background-color: #008000 !important;
    margin: 0 30px;
}

.btn-cancel{ 
    background-color: #A52A2A !important;
    margin: 0 30px;
}