<form [formGroup]="form" (ngSubmit)="submit()">
    <h1 class="medium-title center">{{ isUpdate ? 'Edit answer' : 'Create new answer' }}</h1>

    <div class="inputs-wrapper">
        <mat-form-field>
            <mat-label>Answer</mat-label>
            <input 
                type="text"
                placeholder="Enter answer"
                formControlName="answerText"
                matInput
            >
            <!-- Из-за дерективы appFocus возникает ошибка. Разобраться!  -->
        </mat-form-field>
        <p
            class="wrong-text"
            *ngIf="answerText.errors?.minlength && answerText.touched"
        >Please fill title field width min length. Now {{ answerText.value.length }}</p>

        <mat-slide-toggle formControlName="isRight">Right answer</mat-slide-toggle>
    </div>

    <button type="submit" mat-flat-button color="primary">{{ isUpdate ? 'Update' : 'Create' }}</button>
</form>
