<app-modal *ngIf="modalService.isVisible$ | async" type={{modalService.modalType}}></app-modal>

<h1 class="large-title main-title">{{ 'Update quiz' | titlecase }}</h1>

<div class="wrapper">
    <div class="input-block">
        <form [formGroup]="form" (ngSubmit)="updateQuiz()">
            <div class="input-block__item">
                <h2 class="medium-title">Quiz name:</h2>
                <input 
                    type="text"
                    class="entry-field"
                    placeholder="Quiz name"
                    formControlName="quizName"
                    appFocus
                >
            </div>

            <div class="input-block__item">
                <h2 class="medium-title">Complexity quiz:</h2>
                <input 
                    type="text"
                    class="entry-field"
                    placeholder="Complexity quiz"
                    formControlName="complexityQuiz"
                >
            </div>

            <button 
                type="submit" 
                class="default-admin-btn"
            >Update quiz</button>
        </form>
    </div>
    <div class="questions-block">
        <h2 class="medium-title">Questions:</h2>

        <div *ngIf="questions">
            <app-question
                *ngFor="let question of questions"  
                [question]="question"
            ></app-question>
        </div>

        <button 
            class="default-admin-btn"
            (click)="modalService.addQuestion()"
        >Add question</button>
    </div>
</div>