body {
    font-family: Georgia;
}

.container {
    padding-top: 1.25rem;
    max-width: 1300px;
    margin: 0 auto;
}

.btn-mini {
    font-size: 12px;
    padding: 0 7px;
    width: 100px !important;
}

.large-title {
    margin: 15px 0;
    font-size: 22px;
    font-weight: bold;
}

.medium-title {
    margin: 10px 0;
    font-size: 18px;
}

.small-title {
    margin: 10px 0;
    font-size: 16px;
}

.center {
    text-align: center;
}

.btn {
    width: 35px;
    height: 35px;
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 6px;
    margin: 0 5px;
    &:hover {
        cursor: pointer;
        border-width: 2px;
    }
}

.btn-mini {
    width: 25px;
    height: 25px;
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 3px;
    margin: 0 5px;
    &:hover {
        cursor: pointer;
        border-width: 2px;
    }
}

.buttons {
    display: flex;
    align-items: center;
}

.btn-item {
    margin: 0 10px;
}

.common-item {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 30%;
    padding: 1rem 1.5rem;
    border-width: 1px;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    &:hover {
        cursor: pointer;
        border-color: green;
        background-color: rgba(124, 252, 0, 0.2);
    }
}