$bg-note: #F5F5F5;
$bg-statusbar: green;

.main-note {
    position: fixed;
    left: 20px;
    top: 90%;
    width: 350px;
    height: 70px;
    background-color: $bg-note;
    border-radius: 6px 6px 0 0;
    transform-origin: left;
    transition-property: background-color;
    transition-duration: 3s;
    //animation: ani ease-in 2.5s forwards;
}

.ticker {
    position: relative;
    //width: 100%;
    height: 5px;
    background-color: $bg-statusbar;
    border-radius: 0 0 5px 5px;
}

.wrapper-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.img {
    width: 40px;
    margin-left: 10px;
}

.btn {
    margin-right: 10px;
    margin-bottom: 50px;
}
/*
@keyframes ani {
    0% {left: -370px;;}
    100% {left: 20;}
  }*/