// todo очень сильно похоже с компонентом question, подумать как объединить (идея для рефакторинга)
.quiz-item {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    border-width: 1px;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.main-content-wrapper {
    display: flex;
    justify-content: space-between;
}

.quiz-text {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

.buttons {
    display: flex;
}

.btn {
    width: 35px;
    height: 35px;
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 6px;
    margin: 0 5px;
    &:hover {
        cursor: pointer;
        border-width: 2px;
    }
}