<div class="question-item">
    <div class="content-wrapper">
        <div class="main-content-wrapper">
            <h2 class="question-text">{{ questionText }}</h2>
    
            <div class="buttons" (click)="modalService.addQuestion()">
                <!-- хотя, возможно надо будет добавить метод editQuestion -->
                <div class="btn">
                    <img src="../../../assets/img/pencil.png" alt="edit">
                </div>
                <div class="btn" (click)="deleteQuestion()">
                    <img src="../../../assets/img/basket.png" alt="delete">
                </div>
            </div>
        </div>
    
        <div *ngIf="answers">
            <app-answer
                *ngFor="let answer of answers"  
                [answer]="answer"
            ></app-answer>
        </div>

        <div class="toggle-wrapper">
            <div 
                *ngIf="isShowMoreInfoToggle"
                class="toggle"
                (click)="toggleShowMore()"
            >{{ details ? 'Collapse' : 'Show more' }}</div>

            <div 
            
                class="toggle"
                (click)="toggleAnswers()"
            >{{ 1===1 ? 'Hide' : 'Show' }} answers</div>
        </div>
    </div>

    <button 
        class="default-admin-mini-btn"
        (click)="addAnswer()"
    >Add answer</button>
</div>
