<app-modal *ngIf="isShowModal$ | async"></app-modal>

<h1 class="font-bold text-center">{{ 'Quizzes' | titlecase }}</h1>

<input
    type="text"
    class="mb-2 border py-2 px-4 w-full"
    placeholder="Filter quizzes..."
    [(ngModel)]="term"
>

<app-quiz
    *ngFor="let quiz of paginatorData.showEntities | filterQuizzes: term"
    [quiz]="quiz"
></app-quiz>

<div class="paginator-wrapper">
    <mat-paginator
        (page)="paginatorService.onPageEvent('quizzesPage', quizzes, $event)"
        [length]="paginatorData.length"
        [pageSize]="paginatorData.pageSize"
        [pageSizeOptions]="paginatorData.options"
        aria-label="Select page">
    </mat-paginator>
</div>
