.main-content-wrapper {
    display: flex;
    margin-bottom: 100px;
}

.avatar-wrapper {
    position: relative;
    max-width: 200px;
    max-height: 200px;
    margin-right: 150px;
    padding: 15px;
}

.btn-avatar-edit {
    position: absolute;
    bottom: 0;
    right: 0;
}

.avatar{
    display: inline-block;
    overflow: hidden;
    width: 130px;
    padding-bottom: 33%;
    height: 130px;
    position: relative;

    &__img{
        width:100%;
        height:100%;
        position: absolute;
        border-radius: 50%;
        object-fit: cover;
    }
}

.info {
    display: flex;
    flex-direction: column;

    &__item {
        margin-bottom: 20px;
    }

    &__confirmed-email {
        color: green;
        border: 1px solid green;
        font-size: 13px;
        padding: 0px 8px;
        height: 19px;
        border-radius: 3px;
    }

    &__not-confirmed {
        color: red !important;
    }
}

.error-row {
    color: red;
    margin-top: -35px;
}