<app-menu-btn></app-menu-btn>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="main-content-wrapper">
        <div class="avatar-wrapper">
            <span class="avatar">
                <img class="avatar__img" [src]="imgService.getUserAvatar(user?.avatar)"/>
            </span>
            
            <input 
                #avatarInput 
                hidden="true"
                type="file"
                class="btn-mini btn-avatar-edit"
                onclick="this.value=null"
                (change)="changeAvatar($event)"
            >

            <button type="button" class="btn-avatar-edit" mat-mini-fab color="basic" (click)="avatarInput.click()">
                <mat-icon>edit</mat-icon>
            </button>
            
        </div>
    
        <div class="info">
            <div class="info__item">
                <mat-form-field>
                    <mat-label>Alias</mat-label>
                    <input 
                        type="text"
                        formControlName="aliasText"
                        matInput
                    >
                </mat-form-field>
            </div>

            <div class="info__item">
                <mat-form-field class="info__item">
                    <mat-label>Email 
                        <span 
                            [ngClass]="{'info__confirmed-email': true, 'info__not-confirmed': !user?.isEmailConfirmed}"
                        >{{user?.isEmailConfirmed ? 'confirmed' : 'not confirmed'}}</span>
                    </mat-label>
                    <input 
                        type="text"
                        formControlName="emailText"
                        matInput
                    >
                </mat-form-field>

                <p
                    *ngIf="errorText"
                    class="error-row"
                >{{ errorText }}</p>
            </div>
        </div>
    </div>

    <button type="submit" mat-flat-button color="primary">Save changes</button>
</form>
